@font-face {
  font-family: "coolvetica-regular";
  src: url("../app/fonts/Coolvetica\ Rg.otf");
}
.main {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
}

.item {
  scroll-snap-stop: always;
  position: relative;
  scroll-snap-align: center;
  border: 1px solid red;
  background-color: gainsboro;
  flex: 0 0 100%;
  img {
    mix-blend-mode: darken;
    object-fit: contain;
    object-position: center;
    padding-bottom: 10rem;
  }
}

.footer {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  bottom: 0;
  padding: 0rem 1rem 1rem 1rem;
  background-color: gainsboro;
  color: white;
  width: 100%;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 0.3rem;
  li {
    position: relative;
    text-align: center;
    flex: 1 1 10%;
    transition: all ease-in-out 0.3s;
    padding: 0.5rem 0.7rem;
    border: {
      style: solid;
      weight: 1px;
    }
    border-bottom: none;
    border-top: {
      right-radius: 0.5rem;
      left-radius: 0.5rem;
    }
  }
  font: {
    family: "coolvetica-regular";
    size: 1.1rem;
  }
  text-transform: capitalize;
}

.copy {
  background-color: white;
  color: black;
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: {
    right-radius: 0.5rem;
    left-radius: 0.5rem;
  }
}

.cta {
  display: inline-flex;
  border-radius: 100%;
  position: absolute;
  right: 1rem;
  top: -4rem;
  font: {
    size: 3rem;
  }
  color: black;
  background-color: white;
}
.price {
  display: inline-flex;

  position: absolute;
  left: 1rem;
  top: -5rem;
  font: {
    size: 2rem;
    family: "coolvetica-regular";
  }

  color: black;
  border-radius: 0.3rem;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  background-color: rgba(white, 0.3);
  backdrop-filter: blur(5px);
}
.active {
  background-color: white;
  color: black;
  border-color: white;
}
.inactive {
  background-color: gainsboro;
  color: black;
  border-color: rgba(black, 0.1);
}
